@@keyframes in {
  from{
    border: 2px solid white;
  }
  to{
    border: 2px solid black;
  }
}

@@keyframes out                                                                                                                                                                                             {

}

body{
  margin: 0px;
  background-color: #FACA7E;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.content{
  width: 1200px;
  height: 100%;
  position: absolute;
  left: calc(50% - 600px);
}

header{
  background-color: #D39E4A;
  height: 60px;
  border-bottom: 2px solid #945F0B;
  border-left: 2px solid #945F0B;
  border-right: 2px solid #945F0B;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
header img{
  float: left;
}

header a{
  margin: 10px;
  text-decoration: none;
  color: black;
  position: relative;
  top: 18px;
  animation-name: in;
  animation-duration: 5s;
}

section{
  background-color: white;
  border: 2px solid silver;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

footer{
  height: 90px;
}
