<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>getMeals</servlet-name>
        <servlet-class>servlets.getMeals</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAcc</servlet-name>
        <servlet-class>ajaxControllers.checkAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userProfile</servlet-name>
        <servlet-class>ajaxControllers.userProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>appendImage</servlet-name>
        <servlet-class>ajaxControllers.appendImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>appendImage</servlet-name>
        <url-pattern>/appendImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userProfile</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAcc</servlet-name>
        <url-pattern>/checkAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMeals</servlet-name>
        <url-pattern>/getMeals</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
